body {
	margin: 0px;
	font-family: "Arial";
	font-size: small;
}

.content {
	padding: 10px;
}

/* HEADER */

.header {
	display: inline-block;
	padding: 10px;
	background-color: #aaa;
	width: 100%;
}

.header .pages {
	display: inline-block;
}

.header .pages a {
	padding: 10px;
	color: black;
	background-color: #aaa;
	text-decoration: none;
	font-size: large;
}

.header .pages a:hover {
	background-color: #555;
	padding: 10px;
	color: #ddd;
}

.header .logout {
	display: inline-block;
    background-color: #c00;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 0;
    font-size: large;
    top: 0;
    color: white;
}

.header .logout:hover {
    background-color: #d00;
}

/* DASHBOARD */

.currency {
	margin: 10px 0 0 0;
	border: 1px solid #888;
	border-radius: 5px;
}

.currency h1 {
	font-size: large;
	border-bottom: 1px solid #888;
	margin: 0;
	padding: 5px;
}

.pair {
	border-bottom: 1px solid #888;
}

.broker {
	display: inline-block;
}

.pair .name {
	margin: 0 10px 0 10px;
}

.pair .broker div {
	display: inline-block;
	margin-right: 5px;
	padding: 5px;
}

.currency img {
	height: 20px;
	margin-left: 10px;
}

.currency p {
	display: inline-block;
	margin-left: 10px;
}

.currency p.broker {
	float: right;
	margin-right: 10px;
}

.time {
	font-size: x-small;
	width: 50px;
	max-height: 10px;
}

/*ACCOUNT PAGE*/

.account form {
	margin: 10px 0 0 0;
	border: 1px solid #888;
	border-radius: 5px;
	padding: 10px;
}

.account form input[type=submit] {
	padding: 10px;
	border: none;
	margin: 10px 0 0 0;
	cursor: pointer;
	font-size: 20px;
	display: block;
}

.account form #brokers div {
	margin: 5px;
	padding: 10px;
	display: inline-block;
}

.account form #brokers div img{
    height: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.account input[type=button] {
	padding: 10px;
	border: none;
	margin: 10px 0 0 0;
	background-color: red;
	color: white;
	cursor: pointer;
	font-size: 20px;
}

/*BROKERS CSS*/

.poloniex {
	background-color: #de3333;
	color: white;
}

.kraken {
	background-color: #33de33;
}

.coinbase {
	background-color: #3333de;
	color: white;
}

.bitfinex {
	background-color: #dede22;
}

.acx {
	background-color: #ee99ee;
}

.bitrex {
	background-color: #119999;
	color: white;
}