body {
	margin: 0px;
	font-family: "Arial";
	font-size: small;
}

.content {
	padding: 10px;
}

/* HEADER */

.header {
	display: inline-block;
	padding: 10px;
	background-color: #aaa;
	width: 100%;
	height: 20px;
}

.header .pages {
	display: inline-block;
}

.header .pages a {
	padding: 10px;
	color: black;
	background-color: #aaa;
	text-decoration: none;
	font-size: large;
}

.header .pages a:hover {
	background-color: #555;
	padding: 10px;
	color: #ddd;
}

.header .logout {
	display: inline-block;
    background-color: #c00;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 0;
    font-size: medium;
    top: 0;
    color: white;
    line-height: 20px;
}

.header .logout:hover {
    background-color: #d00;
}

/* DASHBOARD */

table.currency {
	margin: 10px 0 0 0;
	border: 1px solid #888;
	border-radius: 5px;
	width: 100%;
	font-size: small;
	text-align: left;
}

table.currency th {
	font-size: medium;
	border-bottom: 1px solid #888;
}

table.currency td a {
	vertical-align: super;
}

table.currency td .diff {
	font-size: x-small;
	margin-left: 10px;
}

.pair .broker {
	display: inline-block;
}

.pair .currency {
    margin: 0 10px 0 0;
}

.pair .currency h2 {
	display: inline-block;
    font-size: small;
}

.pair .currency h2 .name {
	margin: 0 10px 0 10px;
}

.pair .broker div {
	display: inline-block;
	margin-right: 5px;
	padding: 5px;
}

#balance .currency {
	margin: 10px;
}

#balance .currency h2 div {
	font-size: medium;
	font-weight: bold;
}


#balance .currency h2 {
	display: inline-block;
	width: 20%;
	font-size: small;
	font-weight: normal;
}

.currency img {
	height: 20px;
}

#balance .currency div {
	display: inline-block;
	margin-left: 10px;
}

#balance .currency div.broker {
	/*float: right;*/
	margin-right: 10px;
	padding: 10px;
}

#balance .total {
	/*float: right;*/
	margin-left: 10px;
	padding: 10px;
}

.time {
	font-size: x-small;
	width: 40px;
	max-height: 10px;
}

/*ACCOUNT PAGE*/

.account form {
	margin: 10px 0 0 0;
	border: 1px solid #888;
	border-radius: 5px;
	padding: 10px;
}

.account form input[type=submit] {
	padding: 10px;
	border: none;
	margin: 10px 0 0 0;
	cursor: pointer;
	font-size: 20px;
	display: block;
}

.account form #brokers div {
	margin: 5px;
	padding: 10px;
	display: inline-block;
}

.account form #brokers div img{
    height: 14px;
    margin-left: 10px;
    cursor: pointer;
}

.account input[type=button] {
	padding: 10px;
	border: none;
	margin: 10px 0 0 0;
	background-color: red;
	color: white;
	cursor: pointer;
	font-size: 20px;
}

/*BROKERS CSS*/

.poloniex {
	background-color: #de3333;
	color: white;
}

.kraken {
	background-color: #33de33;
}

.coinbase {
	background-color: #3333de;
	color: white;
}

.bitfinex {
	background-color: #dede22;
}

.acx {
	background-color: #ee99ee;
}

.bitrex {
	background-color: #119999;
	color: white;
}